@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

body {
  background: #282c33;
}

/* center the whole Page  */
.centered-container {
  max-width: 1600px;
  margin: 0 auto;
  /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  /* height: 100vh; */
}


